.py-10 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.mb-10 {
  margin-bottom: 6rem !important;
}

.top-25 {
  top: 25%;
}

.top-75 {
  top: 75%;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.origin-center {
  transform-origin: center;
}

.fs-sm {
  font-size: 0.875rem; /* 14px */
}

.fs-6-5 {
  font-size: 1.125rem; /* 18px */
}

.hvr-radial-out {
  background: $primary;
  border: none;
  &:before {
    background: darken($primary, 20%);
    border: none;
  }
}

.offset-lg-05 {
  margin-left: 3.333333%;
}
