.transition {
  transition: all 0.3s ease-in-out;
}

.fs-6-5 {
  font-size: 1.125rem; /* 18px */
}

.hvr-radial-out {
  background: $primary;
  border: none;
  &:before {
    background: darken($primary, 20%);
    border: none;
  }
  &:focus-visible {
    background: darken($primary, 25%);
  }
  &:hover {
    background: darken($primary, 30%);
  }
}

.offset-lg-05 {
  margin-left: 3.333333%;
}
