.py-10 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.mb-10 {
  margin-bottom: 6rem !important;
}

.top-25 {
  top: 25%;
}

.top-75 {
  top: 75%;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.origin-center {
  transform-origin: center;
}
