$block: "hero";

.#{$block} {
  @extend .overflow-hidden;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .position-relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $light;
  &-overlay {
    @extend .position-absolute;
    @extend .z-0;
    @extend .top-0;
    @extend .start-0;
    @extend .w-100;
    @extend .h-100;
  }

  &-shape {
    @extend .w-100;
    @extend .position-absolute;
    @extend .bottom-0;
    @extend .start-0;
    @extend .z-1;
    img {
      // @extend .img-fluid;
      width: 100%;
      object-fit: cover;
    }
  }

  &-title {
    @extend .container;
    @extend .text-start;
    @extend .position-absolute;
    @extend .bottom-0;
    @extend .start-0;
    @extend .z-2;
    h1 {
      @extend .text-white;
      @extend .text-uppercase;
      @extend .fw-semibold;
      // Desktop (por defecto)
      font-size: 9.375rem;
      margin-bottom: -20px;
      // Tablet (md y lg)
      @include media-breakpoint-down(xl) {
        font-size: 3rem;
      }
      // Teléfono (sm y xs)
      @include media-breakpoint-down(md) {
        font-size: 1.5rem;
      }
    }
  }
}

.#{$block}.inner {
  height: 635px;

  // Tablet
  @include media-breakpoint-down(lg) {
    max-height: 352px;
  }
  // Mobile
  @include media-breakpoint-down(md) {
    max-height: 264px;
  }
  // Mobile
  @include media-breakpoint-down(sm) {
    max-height: 220px;
  }
}

.#{$block}.home {
  height: 500px;

  // Tablet
  @include media-breakpoint-down(lg) {
    max-height: 400px;
  }
  // Mobile
  @include media-breakpoint-down(md) {
    max-height: 300px;
  }
  // Mobile
  @include media-breakpoint-down(sm) {
    max-height: 250px;
  }
}

/*
@media (min-width: 768px) {
  .hero-zoom {
    animation: heroZoomIn 10s ease-out forwards;
    background-size: 105%;

    @keyframes heroZoomIn {
      0% {
        background-size: 110%;
      }
      100% {
        background-size: 100%;
      }
    }
  }
}



xs: <576px
sm: ≥576px
md: ≥768px
lg: ≥992px
xl: ≥1200px
xxl: ≥1400px

*/
