.title {
  @extend .display-2;
  @extend .text-uppercase;
  @extend .fw-semibold;
  @extend .fs-1;
}

.over-title {
  @extend .text-primary;
  @extend .fw-semibold;
  @extend .fs-5;
}

p {
  @extend .fs-sm;
}

.lead {
  @extend .fs-6-5;
}

.btn-krom {
  @extend .btn;
  @extend .btn-primary;
  @extend .text-white;
  @extend .fs-6;
  @extend .hvr-radial-out;
  border-radius: $btn-border-radius;
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  padding: 14px;
  margin-top: 24px;
  font-family: $font-primary;
  .lucide {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.img-krom {
  @extend .img-fluid;
  border-radius: $image-border-radius;
}
.transition {
  transition: all 0.2s ease-in-out;
}

.m-block {
  margin: 6rem 0;
}

.img-krom-wrapper {
  position: relative;
  box-sizing: content-box;
  &::after {
    content: "";
    @extend .d-block;
    @extend .z-1;
    background-color: $primary;
    position: absolute;
    border-radius: 0.125rem;
  }
}

.img-krom-wrapper {
  &.type-1 {
    &::after {
      top: 15%;
      left: -1.25rem;
      width: 2.5rem;
      height: 45%;
    }
  }

  &.type-2 {
    &::after {
      top: 15%;
      right: -1.25rem;
      width: 2.5rem;
      height: 45%;
    }
  }

  &.type-3 {
    &::after {
      top: -1.25rem;
      right: -1.25rem;
      width: 45%;
      height: 2.5rem;
    }
  }

  &.type-4 {
    &::after {
      display: none !important;
    }
  }

  &.type-5 {
    &::after {
      top: -1.25rem;
      left: -1.25rem;
      width: 45%;
      height: 2.5rem;
    }
  }

  &.type-7 {
    &::after {
      top: 15%;
      left: 2.5rem;
      width: 2.5rem;
      height: 45%;
    }
  }

  &.type-8 {
    &::after {
      top: -1.25rem;
      left: -3.5rem;
      width: 15%;
      height: 2.5rem;
    }
  }
}

.container-krom {
  @extend .container-fluid;
  padding: 0 3.5rem;
}
