.title {
  @extend .display-2;
  @extend .text-uppercase;
  @extend .fw-semibold;
  @extend .fs-1;
}

.over-title {
  @extend .text-primary;
  @extend .fw-semibold;
  @extend .fs-5;
}

p {
  @extend .fs-sm;
}

.lead {
  @extend .fs-6-5;
}

.btn-krom {
  @extend .btn;
  @extend .btn-primary;
  @extend .text-white;
  @extend .fs-6;
  @extend .hvr-radial-out;
  border-radius: $btn-border-radius;
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  padding: 8px 18px;
  margin-top: 24px;
}

.img-krom {
  @extend .img-fluid;
  border-radius: $image-border-radius;
}
.transition {
  transition: all 0.2s ease-in-out;
}
