body {
  font-family: $font-secondary;
  color: var(--color-text);
  line-height: 1.6;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700 !important;
}

.fs-xxs {
  font-size: 0.625rem;
}

.fs-xs {
  font-size: 0.75rem;
}
