body {
    font-family: $font-secondary;
    color: var(--color-text);   
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  h1, h2 {
    font-family: $font-primary;
    font-weight: 700;
   
  }

   h3, h4, h5, h6 {
    font-family: $font-secondary;
    font-weight: 300;    
  }
  
  