@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
// Tipografías
$font-primary: "Inter", sans-serif;
$font-secondary: "Arimo", sans-serif;
$fs-xxs: 0.625rem;
$fs-xs: 0.75rem;

// Colores base
$body-bg: #fff; // Fondo base claro
$body-color: #6d7278; // Texto principal
$body-color-title: #212529;

$primary: #198754;
$secondary: #0e492d;
$success: #198754;
$light: #ffffff;
$dark: #212529;

// Componentes
$link-color: $primary;
$link-hover-color: darken($primary, 10%);
$btn-border-radius: 0.5rem;
$btn-font-weight: 500;
