@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
// Tipografías
$font-primary: "Source Sans 3", sans-serif;
$font-secondary: "Inter", sans-serif;

$fs-xxs: 0.625rem;
$fs-xs: 0.75rem;

// Colores base
$body-bg: #fbfbfb;
$body-color: #000;
$body-color-title: #162944;

$primary: #ee5135;
$secondary: #666;

$light: #ffffff;
$dark: #212529;

// Componentes
$link-color: $primary;
$link-hover-color: darken($primary, 20%);

$btn-border-radius: 0.375rem;

$btn-font-weight: 500;

$image-border-radius: 0.25rem;
